<div class="row">
  <div class="col text-center p-1 mt-5">
    <p><%= link_to 'Create', new_cocktail_path, class: 'btn btn-info rounded-pill' %></p>
    <p>All <%= Cocktail.count %> cocktails.</p>
  </div>
</div>



<div class="row justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card m-4" style="width: 18rem; font-family: 'Bangers', cursive;">
        <%= image_tag "drinks.jpg", alt: "alttext", width: 286, class: 'p-1' %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to 'Add dose', cocktail_path(cocktail), class: 'btn btn-info' %>
      </div>
    </div>
    <% end %>
</div>







