<nav class="navbar justify-content-between">
  <h1>Drink</h1>
  <%= link_to 'Create', new_cocktail_path, class: 'btn btn-info rounded-pill' %>
</nav>

<div class="row">
  <div class="col text-center p-1">
    <p>All <%= Cocktail.count %> cocktails.</p>
  </div>
</div>



<div class="row justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <div class="card m-4" style="width: 18rem;">
        <%= image_tag "drinks.jpg", alt: "alttext", width: 286 %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to 'Add dose', cocktail_path(cocktail), class: 'btn btn-info' %>
      </div>
    </div>
    <% end %>

</div>







