<div class="mt-5">
  <h1><%= @cocktail.name %></h1>
</div>


<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to '🗑', dose_path(dose), method: :delete %></p>
<% end %>

<hr>

<%= render 'cocktails/form_dose', dose: @dose, cocktail: @cocktail %>
<br>
<hr>

<div class="row justify-content-around">

    <%= link_to 'Back', root_path, class: 'btn btn-success' %>


    <%= link_to 'Edit', edit_cocktail_path(@cocktail), class: 'btn btn-secondary' %>


    <%= link_to 'Delete', cocktail_path(@cocktail), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
